*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(248, 253, 255); */
}
.current-container{
  padding:5px 2px 0 2px;
}
.btn{
  height: auto;
  width: auto;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: rgb(68, 31, 233);
  font-size: 16px;
  /* background-color: rgba(7, 128, 7, 0.822); */
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  border: 1px solid rgb(25, 45, 221);
}
.btn:hover{
  color: white;
  background-color: blue;
}
.btn2{
  height: auto;
  width: auto;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: rgb(110, 146, 9);
  font-size: 13px;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  border: 1px solid rgb(110,146, 9);
}
.btn2:hover{
  color: rgb(219, 241, 21);
  background-color: rgb(52, 65, 33);
}
.btn2padd{
  padding-top: 20px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.timezone-selector{
  height: auto;
  width: 100%;
  background-color: rgb(252, 255, 255);
  padding: 30px 0 50px 0;

}
.label{
  /* font-size: 25px;s */
  padding-bottom: 5px;
}
#timezone{
  width: 100%;
  height: 30px;
  font-size: 13px;
  border: 1px solid rgba(184, 180, 180, 0.829);
  border-radius: 5px;

}
.weekday-container{
  margin:20px 0 40px 10px;
  height: auto;
  width: 80%;
  background-color: rgb(244, 237, 250);
}
.weekday{
  color: rgb(175, 30, 30);
  padding-bottom: 10px;
}